### 数据集：oakland-crime-statistics-2011-to-2016

In [2]:
import pandas as pd
crime = pd.read_csv('E:\\records-for-2011.csv')   #这里注意\要转义
crime[:3]

,Agency,Create Time,Location,Area Id,Beat,Priority,Incident Type Id,Incident Type Description,Event Number,Closed Time
0,OP,2011-01-01T00:00:00.000,ST&SAN PABLO AV,1.0,06X,1.0,PDOA,POSSIBLE DEAD PERSON,LOP110101000001,2011-01-01T00:28:17.000
1,OP,2011-01-01T00:01:11.000,ST&HANNAH ST,1.0,07X,1.0,415GS,415 GUNSHOTS,LOP110101000002,2011-01-01T01:12:56.000
2,OP,2011-01-01T00:01:25.000,ST&MARKET ST,1.0,10Y,2.0,415GS,415 GUNSHOTS,LOP110101000003,2011-01-01T00:07:20.000

In [3]:
crime.columns

Index(['Agency', 'Create Time', 'Location', 'Area Id', 'Beat', 'Priority',
       'Incident Type Id', 'Incident Type Description', 'Event Number',
       'Closed Time'],
      dtype='object')

In [4]:
crime['Agency'].value_counts()

OP    180015
Name: Agency, dtype: int64

In [5]:
crime['Location'].value_counts()

 INTERNATIONAL BLVD              3866
 MACARTHUR BLVD                  3129
 AV&INTERNATIONAL BLVD           3067
 BROADWAY                        2132
 FOOTHILL BLVD                   1791
 TELEGRAPH AV                    1584
 BANCROFT AV                     1319
 SAN PABLO AV                    1272
 FRUITVALE AV                    1141
 7TH ST                          1093
 AV&MACARTHUR BLVD               1063
 ST&BROADWAY                     1025
 HEGENBERGER RD                  1024
 HARRISON ST                      990
 HIGH ST                          987
 ST&TELEGRAPH AV                  984
 73RD AV                          976
 MARKET ST                        840
 14TH ST                          824
 AV&FOOTHILL BLVD                 761
 WEBSTER ST                       680
 W MACARTHUR BLVD                 668
 AV&BANCROFT AV                   667
 ST&MARTIN LUTHER KING            666
 ST&SAN PABLO AV                  664
 E 18TH ST                        662
 MARTIN LUTHER KING               626
 E 12TH ST                        616
 ST&MARKET ST                     614
 EDGEWATER DR                     611
                                 ...
EMBARCADERO 88TH AV                 1
51ST HANSOM DR                      1
9TH LA SALLE AV                     1
EDWARDS SANTA RAY AV                1
AILEEN 22ND ST&COOLIDGE AV          1
85TH DAVIS ST                       1
28TH 16TH AV                        1
62ND E 11TH ST                      1
63RD AV&EASTLAWN ST                 1
57TH WEST&WEBSTER ST                1
59TH 54TH ST                        1
73RD ST&KELLER AV                   1
56TH 73RD AV                        1
 1734 37TH AVE                      1
CALIFORNIA AV&MACARTHUR BLVD        1
E WATER ST                          1
GOLF AV&COLLEGE AV                  1
34TH ALCATRAZ AV                    1
 MILLER RD&PIERPOINT AV             1
81ST DAKOTA ST                      1
EXCELSIOR EDES AV                   1
OAKLAND 81ST AV                     1
27TH ST&KIRKHAM CT                  1
92ND BIGGE AV                       1
LAKE ST&LINDEN ST                   1
94TH MARTIN LUTHER KING             1
14TH AV&REDWOOD RD                  1
50TH E 12TH ST                      1
7TH 30TH AV                         1
EMBARCADERO SKYLINE BLVD            1
Name: Location, Length: 32505, dtype: int64

In [6]:
crime['Area Id'].value_counts()

1.0    79152
2.0    67261
3.0    32699
Name: Area Id, dtype: int64

In [7]:
crime['Beat'].value_counts()

04X     7410
08X     6885
26Y     5478
30Y     5295
06X     5119
23X     5051
30X     4956
19X     4955
34X     4673
29X     4483
20X     4287
27Y     4159
07X     4134
31Y     4082
25X     4022
35X     3880
33X     3849
03X     3819
32X     3711
27X     3703
09X     3630
21Y     3435
32Y     3125
22X     3061
26X     2978
02Y     2970
10X     2967
14X     2733
03Y     2726
22Y     2664
12Y     2651
05X     2633
02X     2614
31X     2603
21X     2593
17Y     2582
24Y     2575
13Z     2546
15X     2509
24X     2459
12X     2422
10Y     2383
01X     2210
28X     2191
17X     2133
11X     2087
13Y     2017
35Y     1956
31Z     1870
18Y     1778
16Y     1561
14Y     1492
25Y     1482
13X     1122
18X     1063
16X      994
05Y      710
PDT2      20
Name: Beat, dtype: int64

In [8]:
crime['Priority'].value_counts()

2.0    143314
1.0     36699
0.0         2
Name: Priority, dtype: int64

In [9]:
crime['Incident Type Id'].value_counts()

933R      17348
911H      12817
SECCK     11393
415       10752
10851      7180
415C       6624
5150       5031
242        4636
912        4282
243E       4051
415GS      3939
949        3346
211        3148
HAZ        3068
602L       2791
WELCK      2513
11500      2509
245        2373
20002      2233
943        2081
901A       2075
647C       2064
415TH      1983
601R       1901
459        1883
CODE7      1874
975        1834
933SA      1824
415N       1603
23103      1602
          ...
166_4         2
IFS           2
475           2
148_5A        2
530           2
SUSPS         2
SURNDR        2
300B          2
REDALT        2
243B          1
10801         1
346           1
LKOUT         1
MTHLAB        1
148_1         1
243C          1
963           1
593           1
518           1
148           1
YELALT        1
FLOOD         1
666           1
591           1
PGE           1
12020         1
970A          1
TARA          1
182           1
140           1
Name: Incident Type Id, Length: 263, dtype: int64

In [10]:
crime['Incident Type Description'].value_counts()

ALARM-RINGER            17348
911 HANG-UP             12817
SECURITY CHECK          11393
STOLEN VEHICLE           7180
415 UNKNOWN              6624
DISTURBING THE PEACE     5843
MENTALLY ILL             5031
BATTERY                  4636
SUSPICIOUS PERSON        4282
BATTERY ON CO-HABITA     4051
415 GUNSHOTS             3939
415 FAMILY               3595
SUSPICIOUS VEHICLE       3346
ROBBERY                  3148
HAZARDOUS SITUATION/     3068
TRESPASS:                2791
WELFARE CHECK -- CHE     2513
DRUG DEALING             2509
ASSAULT W/DEADLY WEA     2373
HIT & RUN (PROPERTY      2233
FIGHT                    2081
VEHICLE COLLISION-PE     2075
OBSTRUCT PERSON'S MO     2064
415 THREATS              1983
RUNAWAY                  1901
BURGLARY                 1883
SUBJECT ARMED WITH W     1874
STAND BY AND PRESERV     1834
ALARM-SCHOOL ALARM       1824
DISTURBANCE-NEIGHBOR     1603
                        ...
SPOUSAL RAPE                2
REQUIRED TO REGISTER        2
FALSE REPORT OF CRIM        2
SUSPECTS                    2
ANNOYING TELEPHONE C        2
PROTECTIVE CUSTODY-N        2
IDENTITY THEFT              2
CONTEMPT OF COURT/DI        2
RED ALERT-AIRPLANE I        2
TICKET SCALPING             1
YELLOW ALERT AT THE         1
CONSPIRACY COURT ORD        1
PACIFIC GAS AND ELEC        1
LOCKOUT                     1
ASSAULT ON A POLICE         1
VEHICLE PARKED ON SI        1
PETTY THEFT W/PRIORS        1
EXTORTION                   1
FALSE BOMB REPORT TO        1
PLAYING BALL IN STRE        1
FLOOD                       1
POSSESSION/MANUFACTU        1
INJURE TELEPHONE/POW        1
AGGRAVATED ASSAULT O        1
TARASOFF                    1
CHOP SHOP OWNERSHIP/        1
OBSTRUCTING JUSTICE-        1
INTERFERE WITH POWER        1
THREATEN WITNESS/VIC        1
METHLAB                     1
Name: Incident Type Description, Length: 265, dtype: int64

In [11]:
crime_num = pd.DataFrame({"Create Time":crime['Create Time'],"Closed Time":crime['Closed Time']})
crime_num[:3]

               Create Time              Closed Time
0  2011-01-01T00:00:00.000  2011-01-01T00:28:17.000
1  2011-01-01T00:01:11.000  2011-01-01T01:12:56.000
2  2011-01-01T00:01:25.000  2011-01-01T00:07:20.000

In [13]:
crime_num.describe()

                    Create Time              Closed Time
count                    180015                   180009
unique                   179451                   179506
top     2011-06-02T00:00:00.000  2011-07-09T15:49:29.000
freq                          4                        2